{% extends 'base.html' %}
{% load static %}

{% block title %}Детали сна{% endblock %}

{% block page_title %}Детали сна{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Информация о сне</h3>
                <div class="card-tools">
                    <a href="{% url 'sleep:list' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Назад к списку
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">Дата:</dt>
                            <dd class="col-sm-8">{{ sleep.date|date:"d.m.Y" }}</dd>

                            <dt class="col-sm-4">Время начала:</dt>
                            <dd class="col-sm-8">{{ sleep.start_time|time:"H:i" }}</dd>

                            <dt class="col-sm-4">Время окончания:</dt>
                            <dd class="col-sm-8">{{ sleep.end_time|time:"H:i" }}</dd>

                            <dt class="col-sm-4">Длительность:</dt>
                            <dd class="col-sm-8">{{ sleep.duration }} ч.</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">Качество сна:</dt>
                            <dd class="col-sm-8">{{ sleep.get_quality_display }}</dd>

                            <dt class="col-sm-4">Пробуждения:</dt>
                            <dd class="col-sm-8">{{ sleep.interruptions }}</dd>

                            {% if sleep.notes %}
                            <dt class="col-sm-4">Заметки:</dt>
                            <dd class="col-sm-8">{{ sleep.notes }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>

                <div class="mt-4">
                    <a href="{% url 'sleep:edit' sleep.pk %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Редактировать
                    </a>
                    <a href="{% url 'sleep:delete' sleep.pk %}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 