{% extends 'base.html' %}
{% load static %}

{% block title %}Удаление спортсмена{% endblock %}

{% block page_title %}Удаление спортсмена{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>Вы уверены, что хотите удалить спортсмена {{ athlete.athlete.username }} из вашего списка?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a href="{% url 'users:athletes' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 